workspace/ros2_ws/build
workspace/ros2_ws/install
workspace/ros2_ws/log
 # Python cache
__pycache__/
*.pyc

# ROS workspace artifacts
build/
install/
log/

# macOS
.DS_Store

# Large model files
Perception/model.pt

# ZIPs
*.zip
workspace/ros2_ws/src.zip
workspace/ros2_ws/src/perception_ros/Perception/model.pt
